# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets and outputs
dataset/
output/
*.tsv
*.csv
*.log

# Models and heavy artifacts
saved_models/
*.pkl
*.model
!code/business_entity_resolution/src/model_artifacts/
!code/business_entity_resolution/src/model_artifacts/**

# EDA output
eda_output/

# System & Archives
.DS_Store
*.zip
